@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

* {
  font-size: 12px;
}
.gallery-outermost-wrapper{
  margin: none;
  max-width: 100vw;
  padding: 1vw;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;

}
.carousel{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-start;
  max-width: 90vw;
  min-width: 90vw;
  overflow-x: scroll;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;


}

.carousel::-webkit-scrollbar {
  display: none;
}
.img-wrapper{
  margin: 0px;
  border: none;
  padding: 0px;
  position: relative;
  
}

.img-wrapper button{
  background-color: white;
  border: none;
  outline: none;
  transition: all 0.1s ease-in-out;
}

.img-wrapper img{
  filter: contrast(0.3);
  transition: 0.1s all ease-in-out;
}
.img-wrapper button:hover {
  cursor: pointer;
}

.img-wrapper button:hover > img{
  filter: contrast(1)
}


.outer-container {
  min-height: 600px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.main-view-container{
  min-width: max-content;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  -o-user-select: none;
  user-select: none;
  margin-bottom: 20px;
  overflow: auto;
  width: 100%;
  padding: 30px;
}
.main-view-container img{
  position: absolute;
  z-index: -1;

}
.main-view-container canvas{
  position: absolute;
  z-index: 2;

}
.toolbar{

  border-radius: 5px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: left;
  padding: 10px;
  border-bottom: 3px solid rgba(2, 81, 117, 0.226);
}

.toolbar button{
  margin-top: 5px;
  width: 40px;
  height: 40px;
}

.btn-tool{
  display: flex;
  font-size: 12px;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
  background-color: white;
  cursor: pointer;
  border: 2px solid rgba(128, 128, 128, 0.1);
  border-radius: 5px;
  height: 50px;
  padding: 10px;
  margin-left: 4px;
  transition: all 0.2s ease-in-out;
  box-shadow: none;
}
a{
  outline: none;
  text-decoration: none;
}
.btn-tool-active{
  background-color: white;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  border: none;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
  border-radius: 5px;
  font-size: 12px;
  height: 50px;
  padding: 10px;
  margin-left: 4px;
  transition: all 0.2s ease-in-out;
  box-shadow: none;
  border: 2px solid rgb(2, 81, 117);

}

.btn-tool:hover{
  border: 2px solid #4682B4;

}


.slidecontainer{
  padding: 0;
  width: 50px;

}
#slider{
  writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-horizontal; /* WebKit */
    height: 100%;
    width: 100%;
    min-width: 300px;
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
border-radius: 5px;  


}

#slider::-webkit-slider-thumb {

  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: red !important; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.label-div{
  display: flex;
  flex-direction: row;
  align-items:flex-start;
  justify-content: baseline;
  justify-items: baseline;
  padding: 20px;
  border: 2px solid rgba(197, 197, 197, 0.114);
  margin-bottom: 1px;
  border-radius: 5px;
  transition: all 0.1s ease-in-out;
  margin: 10px;
}


.label-div:hover{
  border: 2px solid rgba(197, 197, 197, 0.514);

}

.flex-row-space-between{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.labeler-header-meta a{
  color: #4683b4;
}
.labeler-container {
  margin-top: 10px;
  width: 90vw;
  align-self: center;
  padding: 1vw;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-self: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.labelName{
  font-weight: 300;
  color: black;
  padding: 0;
  margin: 0;
  background-color: none;
}
#smalltext{
  font-size: 10px;
}
.color-button{
  outline: none;
  text-decoration: none;
  color: white;
  padding: 10px;
  border: 1px solid white;
  border-radius: 5px;
}

.remove-btn{
  padding: 10px;
  border: 1px solid rgba(255, 0, 0, 0.5);
  border-radius: 5px;
  color: rgba(255, 0, 0, 0.5);
  background-color: white;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  
}

.global{
  padding: 10px;
  border: 1px solid #51758F;
  border-radius: 5px;
  color: white;
  background-color: #51758F;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.notglobal{
  padding: 10px;
  border: 1px solid  #51758F;
  border-radius: 5px;
  color: #51758F;
  background-color: white;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}


.remove-btn:hover{
  background-color: red;
  color: white;
  
}

.switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 28px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #5aac50;
}

input:focus + .slider {
  box-shadow: 0 0 1px #5aac50;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 28px;
}

.slider.round:before {
  border-radius: 50%;
}

.flex-column{
  display: flex;
  flex-direction: column;
  align-content: space-around;
  justify-content: left;
  justify-items:left;
  padding: 10px;
}

.flex-row{
  display: flex;
  flex-direction: row;
  align-content: space-between;
}
.flex-row button{
  margin-left: 4px;
}

.labelName{
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(128, 128, 128, 0);
  transition: all 0.1s ease-in-out;
  text-transform: capitalize;
  background-color: transparent;
  font-size: 12px;
}
input:-internal-autofill-selected{
  background-color: transparent;
  background: transparent;

}
.fc {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.fc p{
  color: rgba(2, 81, 117, 0.473);
}
.fc h1{
  max-width: 50vw;
  font-size: 60px;
  font-weight: 300;
  background: -webkit-linear-gradient(rgb(2, 81, 117), rgb(32, 114, 146));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.innerfc{
  display: flex;
  align-content: center;
  justify-content: center;
}
.fileupload{
  max-width: 30vw;
  outline: none;
  border: none;
}


input[type="file"]::-webkit-file-upload-button {
  cursor: pointer;
  background: rgb(2, 81, 117);
  color: white;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 20px;
}
.label-container-out{
  position: sticky;
  top: 1vh;
  left: 1vw;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  z-index: 6;
  min-width: 500px;
  align-items: center;
  max-height: 800px;
  padding-bottom: 30px;
  overflow-y: auto;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(20px);
  scrollbar-color: white #4682B4;
  border-radius: 5px;

}


.btn-tool svg {
  padding: none;
  fill: black;
  color: black;
  stroke: black;
}

.svg {
  padding: none;
}

.outerfc{
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  border-radius: 5px;
  padding: 40px;
}
.download-ref{
  max-width: 200px;
  margin: 4px;
  margin-left: 20px;


}
.download-btn{
  width: 100%;
  background-color: white;
  font-size: 12px;
  color:rgb(2, 81, 117);
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgb(2, 81, 117);
  margin: 4px;
  margin-left: 20px;
  cursor: pointer;
  transition: 0.1s all ease-in-out;
}

.download-btn:hover{
  color: white;
  background-color: rgb(2, 81, 117);
}
.inlinea {
  align-items: baseline;
  justify-content: flex-end;
}


.download{
  border-top: 1px solid rgba(2, 81, 117, 0.356);
  padding: 20px;
}
.topright {
  background-color: rgba(32, 114, 146, 1);
  width: 30px;
  height: 30px;
  border-radius: 30px;
  color: rgba(255, 255, 255, 0.589);
  position: absolute;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  vertical-align: middle;
  text-align: center;
  bottom: 0px;
  right: 0px;
  margin: 0px;
}
.App{
  min-height: 100vh;
  font-size: 12px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

button{
  font-size: 12px;
}
.stickyb{
  position: sticky;
  bottom: 0px;
  background-color: rgba(255, 255, 255, 0.816);
  backdrop-filter: blur(10px);
}

#paddingleft{
  padding-left: 20px;
}