
.gallery-outermost-wrapper{
  margin: none;
  max-width: 100vw;
  padding: 1vw;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
.carousel{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-start;
  overflow-x: scroll;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.carousel::-webkit-scrollbar {
  display: none;
}
.img-wrapper{
  margin: 0px;
  border: none;
  padding: 0px;
  
}

.img-wrapper button{
  background-color: white;
  border: none;
  outline: none;
  transition: all 0.1s ease-in-out;
}

.img-wrapper img{
  filter: contrast(0.3);
  transition: 0.1s all ease-in-out;
}
.img-wrapper button:hover {
  cursor: pointer;
}

.img-wrapper button:hover > img{
  filter: contrast(1)
}


.outer-container {
  width: 100%;
  min-height: 600px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-view-container{
  min-width: max-content;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  -o-user-select: none;
  user-select: none;
  margin-bottom: 20px;
  overflow: auto;
}
.main-view-container img{
  position: absolute;
  z-index: -1;

}
.main-view-container canvas{
  position: absolute;
  z-index: 2;

}
.toolbar{
  padding: 3px;
  margin: 10px;
  margin-bottom: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
}

.toolbar button{
  margin-top: 5px;
  width: 40px;
  height: 40px;
}

.btn-tool{
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
  background-color: white;
  cursor: pointer;
  border: 2px solid rgba(128, 128, 128, 0.1);
  border-radius: 10px;
  height: 50px;
  padding: 10px;
  margin-left: 4px;
  transition: all 0.2s ease-in-out;
  box-shadow: none;
}

.btn-tool-active{
  background-color: white;

  cursor: pointer;
  border: none;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
  border-radius: 10px;
  height: 50px;
  padding: 10px;
  margin-left: 4px;
  transition: all 0.2s ease-in-out;
  box-shadow: none;
  border: 2px solid #4682B4;

}

.btn-tool:hover{
  border: 2px solid #4682B4;

}

.labeler-container {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  margin: 1vw;
  margin-top: 10px;
  max-width: 100vw;
  padding: 1vw;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.slidecontainer{
  padding: 0;
  width: 50px;

}
#slider{
  writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    height: 100%;
    width: 50px;
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
border-radius: 5px;  


}

#slider::-webkit-slider-thumb {

  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: red !important; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.label-div{
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  justify-content: left;
  padding: 20px;
  border: 2px solid rgba(197, 197, 197, 0.114);
  margin-bottom: 1px;
  border-radius: 20px;
  transition: all 0.1s ease-in-out;
}

.label-div:hover{
  border: 2px solid rgba(197, 197, 197, 0.514);

}

.flex-row-space-between{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.labeler-header-meta a{
  color: #4683b4;
}
.labeler-container {
  box-shadow: rgba(60, 64, 67, 0.1) 0px 2px 2px 0px, rgba(60, 64, 67, 0.1) 0px 2px 6px 1px;
  margin-top: 20px;
  padding: 5px;
  padding-top: 20px;
  padding-bottom: 30px;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.labelname{
  font-weight: 300;
  color: black;
  padding: 0;
  margin: 0;
}
#smalltext{
  font-size: 10px;
}
.color-button{
  outline: none;
  text-decoration: none;
  color: white;
  padding: 10px;
  border: 1px solid white;
  border-radius: 10px;
}

.remove-btn{
  padding: 10px;
  border: 1px solid rgba(255, 0, 0, 0.5);
  border-radius: 10px;
  color: rgba(255, 0, 0, 0.5);
  background-color: white;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  
}

.remove-btn:hover{
  background-color: red;
  color: white;
  
}
